# =========================
# LaTeX auxiliares (global)
# =========================
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# =========================
# Carpetas de compilación (en cualquier nivel)
# =========================
**/out_aux/
**/out/

# =========================
# PDFs
**/out_pdf/
*.pdf

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db